<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-tours-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-tours-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Duration</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'tours' %}" class="dropdown-item">All Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="outside-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tours Outside of Dublin
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="outside-link">
                <a href="" class="dropdown-item">North of Ireland</a>
                <a href="" class="dropdown-item">South-West of Ireland</a>
                <a href="" class="dropdown-item">West of Ireland</a>
                <a href="" class="dropdown-item">Middle of Ireland</a>
                <a href="" class="dropdown-item">All tours outside of Dublin area</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="greater-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Greater Dublin Area Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="greater-link">
                <a href="" class="dropdown-item">North of Dublin/Leinster</a>
                <a href="" class="dropdown-item">South Dublin/Leinster</a>
                <a href="" class="dropdown-item">West of Dublin</a>
                <a href="" class="dropdown-item">All Greater Dublin/Leinster Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="city-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dublin City Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="city-link">
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">All Dublin City Tours</a>
            </div>
        </li>
    </ul>
</div>